{% extends 'main/base.html' %}
{% load static %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="container">
    <h2 class="contact-title">Contact Us</h2>
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{% static 'ali.jpg' %}" alt="Person 1" class="img-fluid rounded-circle">
            <h3>Ali Sher</h3>
            <p>Email: asher@torontomu.ca</p>
            <p>Phone: (123) 456-7890</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="{% static 'sohaib.jpg' %}" alt="Person 2" class="img-fluid rounded-circle">
            <h3>Mohammed Sohaib Syed</h3>
            <p>Email: SohaibMSyed57@gmail.com</p>
            <p>Phone: (647) 703-7870</p>
        </div>
    </div>
</div>
{% endblock %}
